
.page{
  max-width: 1400px;
  width: 100%;  
}
.topnav {
  border: 1px solid black; 
}

/* HERO IMAGE */
img{
  width: 100%; 
}

h1{
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  font-family: sans-serif;
}

a{
  color: black;
  font-size: 14px;
  font-weight: lighter;
  text-decoration: none;
  font-family: sans-serif;
}
p{
  font-family: sans-serif;
  font-size: 14px;
  text-align: center;
  font-weight: lighter;
}
